.news {
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
}

.news h1 {
    padding-top: 5%;
}

.news img {
    width: 50%;
    padding-top: 5%;
    float: left;
}

.news p {
    padding-left: 15%;
    /* margin-top: -150px; */
}

.news hr {
    border: none;
    height: 5px;
    background: black;
}

.textbox h1 {
    margin-left: 60%;
}

.textbox p {
    margin-left: 40%;
    text-align: justify;
}


/* Responsive News */

@media only screen and (max-width: 600px) {
    .news img {
        float: none;
        width: 100%;
    }
    .textbox h1 {
        margin-left: auto;
    }
    .textbox p {
        margin-left: -30px;
    }
    iframe {
        height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .news img {
        width: 100%;
        padding-bottom: 10%;
    }
    .textbox h1 {
        margin-left: auto;
    }
    .textbox p {
        margin-left: -70px;
    }
}