.personbox {
    padding-left: 15%;
    padding-right: 15%;
}

.personheading {
    padding-top: 5%;
}

.personbox hr {
    border: none;
    height: 5px;
    background: black;
}

.pers {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    width: 16%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 50px;
    background-color: #b04343;
    color: white;
    text-align: center;
}

.prof {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    width: 100%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 50px;
    background-color: #873535;
    color: white;
    text-align: center;
}

.pers img {
    width: 100%;
}

.prof img {
    width: 30%;
    float: left;
    /* margin-left: 5%; */
}

.prof p {
    width: 50%;
    margin-left: 40%;
    text-align: left;
}


/* Responsive CSS */

@media only screen and (max-width: 600px) {
    .pers,
    .prof {
        width: 100%;
        border-radius: 100px;
        margin-bottom: 5%;
    }
    .pers img,
    .prof img {
        padding-top: 5%;
        width: 70%;
    }
    .prof img {
        float: none;
    }
    .prof h3,
    .prof p {
        margin: auto;
        width: 80%;
        text-align: center;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .prof img {
        width: 40%;
        padding-top: 10%;
        margin-right: 20px;
    }
    .prof h3,
    .prof p {
        padding-top: 2%;
        margin-left: 20%;
        width: 80%;
        text-align: center;
    }
}